!!!
html
  head
    title JS Best Practice Example Chat
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/main.css')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/")
            i.icon-comments
            |  JS Best Practice Example Chat
          ul.nav
            li
              a(href="http://www.matteocollina.com") 
                i.icon-lightbulb
                | About

    block content

    script(src='/js/main.js')
    script(src='/socket.io/socket.io.js')
